body{
    color:#edf2fb;
    text-align: center;
    margin:0;
    font-family: 'Montserrat', sans-serif;
}
h1{
    color:#469d89;
    font-family: 'Sacramento', cursive;
    font-size : 5.625rem;
    margin : 50px auto 0;
}
h2{
    color: #469d89;
    font-size: 2.3rem;
    font-weight: normal;
}
h3{
    color:#358F80;
}
a{
    color:#14746F;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;   
}
a:hover{
    color:#eaf6f6;
}
p{
    color:#40515e;
    line-height: 2;
}
hr{
    border: dotted #e5e6e4 8px;
    border-top: none;
    width: 4%;
    margin:100px auto;
}
.ski{
    color:#67B99A;
    font-size: 2.5rem;
}
.pro{
    text-decoration: underline;
}
.intro{
    width:30%;
    margin : auto;
}
.top-container{
    background-color:#f8edeb;
    position: relative;
    padding-top:100px;
}
.top-cloud{
    width:130px;
    height:130px;
    position:absolute;
    right:300px;
    top:20px;
}
.bottom-cloud{
    width:130px;
    height:130px;
    position:absolute;
    left:300px;
}
.mountain{
    padding-top: 150px;
}
.imgprof{
    height: 15%;
    width:15%;
}
.middle-container{
    margin : 100px 0;
}
.bottom-container{
    background-color: #67B99A;
    padding: 50px 0px 20px;
}
.skill-row{
   margin:100px auto;
   text-align: left;
   width:50%;
}
.Design{
    width:25%;
    float:left;
    margin-right : 40px;
}
.read{
    width:25%;
    float:right;
    margin-left:40px;
}
.contact-message{
    width:40%;
    margin: 40px auto 60px;
}
.copyright{
    color:#eaf6f6;
    font-size: 0.75rem;
    padding:20px 10px;
}
.btn {
    background: #358F80;
    background-image: -webkit-linear-gradient(top, #358F80, #469D89);
    background-image: -moz-linear-gradient(top, #358F80, #469D89);
    background-image: -ms-linear-gradient(top, #358F80, #469D89);
    background-image: -o-linear-gradient(top, #358F80, #469D89);
    background-image: linear-gradient(to bottom, #358F80, #469D89);
    -webkit-border-radius: 16;
    -moz-border-radius: 16;
    border-radius: 16px;
    font-family: Arial;
    color: #ffffff;
    font-size: 19px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #67B99A;
    background-image: -webkit-linear-gradient(top, #67B99A, #78C6A3);
    background-image: -moz-linear-gradient(top, #67B99A, #78C6A3);
    background-image: -ms-linear-gradient(top, #67B99A, #78C6A3);
    background-image: -o-linear-gradient(top, #67B99A, #78C6A3);
    background-image: linear-gradient(to bottom, #67B99A, #78C6A3);
    text-decoration: none;
  }